h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

img {
    height: 300px;
    width: 300px;
}

p1 {
    text-align: left;
    font-size: 27;
}
p2{font-size: 20;
}
body {
    background-color: beige;
