body {
    background-color: #B4FFB0;
}

#p1 {
    margin: 2cm;
    margin-right: 18cm;
    margin-top: 3cm;
    text-align: justify;
    background-color: #6BC97A;
}

#p2 {
    margin: 2cm;
    margin-top: 2cm;
    margin-left: 19cm;
    margin-top: 1cm;
    text-align: justify;
    background-color: #6BC97A;
}

#titulo1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    margin-top: 2cm;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px blue;
}

#t2 {
    text-align: center;
    color: green;
    text-shadow: 1px 1px 2px green;
}

.container1 {
    display: flex;
}

#img1 {
    margin-left: 17cm;
    margin-top: -7cm;
}

#img2 {
    margin-top: -3cm;
    float: left;
}

#p3 {
    margin-left: 3cm;
    margin-right: 3cm;
    text-align: justify;
}

#t3 {
    font-size: 23px;
    color: green;
    text-decoration-line: underline;
    text-shadow: 1px 1px 2px green;
    margin-left: 3cm;
}

#p4 {
    margin-left: 3cm;
    text-align: justify;
}

#p5 {
    margin-left: 3cm;
    text-align: justify;
}

#p6 {
    margin-left: 3cm;
    text-align: justify;
}

#p7 {
    margin-left: 3cm;
    text-align: justify;
}

#p8 {
    margin-left: 3cm;
    text-align: justify;
}

#p9 {
    margin-left: 3cm;
    text-align: justify;
}